@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

$primary-header-back: #333;
$theme-color: #ffa000;
$hr-color: #bfbfbf;
$primary-font-family: "Roboto Condensed", sans-serif;
$primary-font-color: #fff;
$primary-border: 1px solid #dedbdb;
