@import "../../../variables";

.Logo {
	width: fit-content;
	display: flex;
	align-items: center;
	margin: 0.2rem 0;
	&-Img {
		margin: 0 0.4em;
		img {
			width: 3em;
			height: 3em;
		}
	}
	&-Text {
		margin: 0 0.4em;
		color: $primary-font-color;
		h3 {
			line-height: 1rem;
			font-size: 1rem;
			margin-bottom: 0;
			font-weight: bold;
		}
		p {
			font-size: 0.8rem;
			margin: 0.2em 0;
			font-weight: 400;
		}
		button {
			display: none;
		}
	}
}

@media screen and (min-width: $breakpoint3) and(max-width: $breakpoint2 - 1) {
	.Logo {
		&-Text {
			h3 {
				font-size: 0.8rem;
				line-height: 0.8rem;
			}
			p {
				font-size: 0.6rem;
			}
		}
	}
}
@media screen and (min-width: $breakpoint4) and(max-width: $breakpoint3 - 1) {
	.Logo {
		&-Text {
			h3 {
				font-size: 0.7rem;
				line-height: 0.7rem;
			}
			p {
				font-size: 0.5rem;
			}
		}
	}
}
@media screen and (max-width: $breakpoint4 - 1) {
	.Logo {
		&-Text {
			button {
				display: block;
				width: 100%;
				height: 100%;
				background: none;
				border: $primary-border;
				padding: 0.4rem;
			}
			&-Optional {
				display: none;
			}
		}
	}
}
